.customBackGround {
    background-image:url(https://i.ibb.co/7bhGg5Z/83605792-flat-lay-traveler-accessories-on-yellow-background-with-palm-leaf-camera-and-sunglasses-top.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}